<section class="bg-black-500 dark:bg-black-900">
  <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6 pirata-font items-center">
    <h1 class="gradient-text text-6xl md:text-8xl tracking-tight font-extrabold pb-4 text-center pirata-font">Education & Certifications</h1>

    <ol class="relative border-l border-gray-200 dark:border-gray-700 text-lg">
      <!-- Your education information starts here -->
      <li class="mb-10 ml-4">
        <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-2 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
        <time class="mb-1 text-sm font-normal md:text-lg leading-none text-gray-800">Sep 2019 - Dec 2022</time>
        <h3 class="text-xl md:text-2xl font-semibold text-black">Associate of Applied Science - AAS, Computer Science</h3>
        <p class="mb-4 text-base md:text-xl font-normal text-black">Computer scientists design and develop the software programs that IT professionals use and maintain. Computer science emphasizes the software aspects both in theory and application rather than the physical construction of computers (hardware aspects). The computer science program includes core courses in programming, systems, algorithms, databases, web technologies, and software product development.</p>
        <p class="mb-4 text-base md:text-xl font-normal text-black">Skills: VMware · CLI · Front-End Development · Visual Studio · Node.js · Linux · Bootstrap · Git · Java</p>
        <div class="mt-2">
          <h4 class="text-base md:text-xl font-semibold text-black">Activities and Societies:</h4>
          <p class="text-base md:text-xl font-normal text-black">Baseball | Computer Club | Student Veterans</p>
        </div>
      </li>
      <!-- Your education information ends here -->

      <!-- Your certifications start here -->
      <li class="mb-10 ml-4">
        <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-2 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
        <time class="mb-1 text-sm font-normal md:text-lg leading-none text-gray-800">Issued Jan 2023</time>
        <h3 class="text-xl md:text-2xl font-semibold text-black">Google Data Analytics Certification</h3>
        <p class="mb-4 text-base md:text-xl font-normal text-black">Skills: Pivot Tables · Data Analytics · Tableau · Visual Studio · R (Programming Language) · Microsoft Azure · SQL · Data Analysis</p>
        <div class="mt-2">
          <h4 class="text-base md:text-xl font-semibold text-black">Credential ID:</h4>
          <p class="text-base md:text-xl font-normal text-black">SAGAMJ6G6D2C</p>
        </div>
      </li>
      <li class="mb-10 ml-4">
        <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-2 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
        <time class="mb-1 text-sm font-normal md:text-lg leading-none text-gray-800">Issued Jan 2023</time>
        <h3 class="text-xl md:text-2xl font-semibold text-black">Google Finance Data Analyst Certification</h3>
        <div class="mt-2">
          <h4 class="text-base md:text-xl font-semibold text-black">Credential ID:</h4>
          <p class="text-base md:text-xl font-normal text-black">AFKZP2FZ3FJG</p>
        </div>
      </li>
      <!-- Your certifications end here -->

      <!-- Add more education or certification entries if needed -->
    </ol>
  </div>
</section>
<style>
	.hero {
			background-color: transparent;
			/* Set the background to transparent */
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			overflow: hidden;
			position: relative;
	}
  .pirata-font {
    font-family: "Pirata One", sans-serif;
  }
</style> 