<footer class="text-secondary py-4">
  <!-- Copyright Text -->
  <div class="text-center mt-4 pirata-font underline decoration-lime-600">
    &copy; 2023 Joshua P. Conley. All rights reserved.
  </div>
</footer>
<style>
  .screen-content {
    min-height: calc(100vh - (py-4 * 2)); /* Adjust for padding in nav */
  }

  .hero {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(
      80% - (py-4 * 2)
    ); /* Adjust for padding in text-secondary py-4 */
    overflow: hidden;
    position: relative;
  }

  .pirata-font {
    font-family: "Pirata One", sans-serif;
  }
  .nav-link {
    text-decoration: none;
    color: #f6f8e2; /* Your 'secondary' color */
    transition: color 300ms ease;
  }

  .nav-link:hover {
    color: #9ccd62; /* Your 'crazy' color */
  }
</style>
