---
const { Base } = Astro.props;

---

<section class="bg-black-500 dark:bg-black-900">
  <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6 pirata-font">
    <!-- Row -->
    <h1 class="gradient-text text-6xl md:text-8xl tracking-tight font-extrabold pb-4 text-center pirata-font">Projects</h1>

    <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="text-black">
        <h2 class="mb-4 text-3xl md:text-4xl tracking-tight font-extrabold gradient-text">Mass Text Application</h2>
        <p class="mb-8 font-light text-lg lg:text-xl text-black">Seamless desktop application in Python with a Tkinter GUI, integrated Twilio API for efficient texting, and SQL Server for data storage, enabling quick service delivery without the intricacies of traditional ITSM solutions. Streamlined development, reduced manual effort, and facilitated easy installations. Sent and collected data for ~300,000 texts with %100 success rate.</p>
        <!-- List -->
        <ul role="list" class="pt-8 my-7 space-y-5 border-t border-gray-200 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-xl font-medium leading-tight text-black">Python with Tkinter GUI: Built a user-friendly desktop application interface.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-xl font-medium leading-tight text-black">Twilio API Integration: Incorporated Twilio for efficient text messaging.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-xl font-medium leading-tight text-black">SQL Server: Stored and managed data in a SQL Server database.</span>
          </li>
          <!-- Add similar list items as above for responsiveness -->
        </ul>
        <!-- {{# <p class="mb-8 font-light lg:text-xl text-black">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.</p> #}} -->
      </div>
      <img class="mb-4 w-full lg:mb-0 lg:flex rounded-lg" src="/massText.png" alt="office feature image">
    </div>
    <!-- Row -->
    <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
      <img class="mb-4 w-full lg:mb-0 lg:flex rounded-lg" src="/intranet.png" alt="office feature image 2">
      <div class="text-black">
        <h2 class="mb-4 text-3xl md:text-4xl tracking-tight font-extrabold gradient-text">Intranet</h2>
        <p class="mb-8 font-light text-lg lg:text-xl text-black">Constructed using a modern tech stack that includes Astro, Tailwind coupled with SCSS, React, and Next.js. The intranet offers seamless navigation and fast page loads through server-side rendering (SSR) powered by Node.js. It's fortified with Active Directory for organized data management, MS Azure 2-Factor authentication for enhanced security, and complies with the latest security parameters to ensure a safe user experience. Overall handling 500+ employees successfully.</p>
        <!-- List -->
        <ul role="list" class="pt-8 my-7 space-y-5 border-t border-gray-200 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">Astro Framework: Utilized for efficient and optimized web performance.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">Tailwind + SCSS: Ensured modern and responsive design with a combination of TailwindCSS and SCSS for styling flexibility.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">React & Next.js: Implemented for a dynamic user interface and optimized routing, enhancing user experience.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">Server-Side Rendering (SSR) with Node.js: Boosted page load speeds and enhanced SEO capabilities.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">Active Directory Integration: Allowed for structured data management and seamless user authentication.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">MS Azure 2-Factor Authentication: Added an extra layer of security, ensuring secure user logins and protecting sensitive data.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-xl md:text-lg font-medium leading-tight text-black">Compliance with HIPPA Security Parameters: Met high standards of web security to safeguard user information and interactions.</span>
          </li>
        </ul>
        <!-- {{# <p class="font-light lg:text-xl text-black">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.</p> #}} -->
      </div>
    </div>

  </div>
</section>
<style>
	.hero {
			background-color: transparent;
			/* Set the background to transparent */
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			overflow: hidden;
			position: relative;
	}
  .pirata-font {
    font-family: "Pirata One", sans-serif;
  }
</style> 
