---
const { Base } = Astro.props;

---

<section class="bg-black-500 dark:bg-black-900">
  <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6 pirata-font">
    <!-- Row -->
    <h1 class="gradient-text text-6xl md:text-8xl tracking-tight font-extrabold pb-4 text-center pirata-font">Projects</h1>

    <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="text-black">
        <h2 class="mb-4 text-3xl md:text-4xl tracking-tight font-extrabold gradient-text">Mass Text Application</h2>
        <p class="mb-8 font-light text-lg lg:text-xl text-black">Seamless desktop application in Python with a Tkinter GUI, integrated Twilio API for efficient texting, and SQL Server for data storage, enabling quick service delivery without the intricacies of traditional ITSM solutions. Streamlined development, reduced manual effort, and facilitated easy installations. Sent and collected data for ~300,000 texts with %100 success rate.</p>
        <!-- List -->
        <ul role="list" class="pt-8 my-7 space-y-5 border-t border-gray-200 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
              <path d="M 24.5 2 C 15.800781 2 14 6.492188 14 9.09375 L 14 14 L 24 14 L 24 15 L 9.09375 15 C 5.792969 15 2 17.601563 2 25 C 2 32.398438 5.792969 35 9.09375 35 L 15 35 L 15 29 C 15 26.800781 16.800781 25 19 25 L 31 25 C 32.699219 25 34 23.699219 34 22 L 34 9.09375 C 34 5.59375 30.699219 2 24.5 2 Z M 20 7 C 21.101563 7 22 7.898438 22 9 C 22 10.101563 21.101563 11 20 11 C 18.898438 11 18 10.101563 18 9 C 18 7.898438 18.898438 7 20 7 Z M 35 15 L 35 22 C 35 24.199219 33.199219 26 31 26 L 19 26 C 17.300781 26 16 27.300781 16 29 L 16 40.90625 C 16 44.40625 19.300781 48 25.5 48 C 34.199219 48 36 43.507813 36 40.90625 L 36 36 L 26 36 L 26 35 L 40.90625 35 C 44.207031 35 48 32.398438 48 25 C 48 17.601563 44.207031 15 40.90625 15 Z M 30 39 C 31.101563 39 32 39.898438 32 41 C 32 42.101563 31.101563 43 30 43 C 28.898438 43 28 42.101563 28 41 C 28 39.898438 28.898438 39 30 39 Z"></path>
              </svg>            <span class="text-xl md:text-xl font-medium leading-tight text-black">Python with Tkinter GUI: Built a user-friendly desktop application interface.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="twilio"><path d="M0,12c0,6.64,5.359,12,12,12s12-5.36,12-12c0-6.641-5.36-12-12-12C5.381-0.008,0.008,5.352,0,11.971V12z M3.199,12c-0.014-4.846,3.904-8.786,8.75-8.801H12c4.847-0.014,8.786,3.904,8.801,8.75V12c0.015,4.847-3.904,8.786-8.75,8.801H12c-4.846,0.015-8.786-3.904-8.801-8.75V12z"></path><path d="M14.959 17.44c1.361 0 2.481-1.12 2.481-2.48 0-1.359-1.12-2.48-2.481-2.479-1.359 0-2.479 1.12-2.479 2.479C12.486 16.326 13.592 17.432 14.959 17.44zM14.959 11.52c1.361 0 2.481-1.12 2.481-2.479 0-1.361-1.12-2.481-2.481-2.481-1.359 0-2.479 1.12-2.479 2.481C12.487 10.407 13.593 11.513 14.959 11.52zM9.042 17.44c1.359 0 2.479-1.12 2.479-2.48 0-1.359-1.121-2.48-2.479-2.479-1.361 0-2.481 1.12-2.481 2.479C6.567 16.327 7.674 17.433 9.042 17.44zM9.042 11.52c1.359 0 2.479-1.12 2.479-2.479 0-1.361-1.121-2.481-2.479-2.481-1.361 0-2.481 1.12-2.481 2.481C6.567 10.408 7.675 11.513 9.042 11.52z"></path></svg>            <span class="text-xl md:text-xl font-medium leading-tight text-black">Twilio API Integration: Incorporated Twilio for efficient text messaging.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
              <path d="M8 5.625c4.418 0 8-1.063 8-2.375S12.418.875 8 .875 0 1.938 0 3.25s3.582 2.375 8 2.375Zm0 13.5c4.963 0 8-1.538 8-2.375v-4.019c-.052.029-.112.054-.165.082a8.08 8.08 0 0 1-.745.353c-.193.081-.394.158-.6.231l-.189.067c-2.04.628-4.165.936-6.3.911a20.601 20.601 0 0 1-6.3-.911l-.189-.067a10.719 10.719 0 0 1-.852-.34 8.08 8.08 0 0 1-.493-.244c-.053-.028-.113-.053-.165-.082v4.019C0 17.587 3.037 19.125 8 19.125Zm7.09-12.709c-.193.081-.394.158-.6.231l-.189.067a20.6 20.6 0 0 1-6.3.911 20.6 20.6 0 0 1-6.3-.911l-.189-.067a10.719 10.719 0 0 1-.852-.34 8.08 8.08 0 0 1-.493-.244C.112 6.035.052 6.01 0 5.981V10c0 .837 3.037 2.375 8 2.375s8-1.538 8-2.375V5.981c-.052.029-.112.054-.165.082a8.08 8.08 0 0 1-.745.353Z"/>
            </svg>            <span class="text-xl md:text-xl font-medium leading-tight text-black">SQL Server: Stored and managed data in a SQL Server database.</span>
          </li>
          <!-- Add similar list items as above for responsiveness -->
        </ul>
        <!-- {{# <p class="mb-8 font-light lg:text-xl text-black">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.</p> #}} -->
      </div>
      <img class="mb-4 w-full lg:mb-0 lg:flex rounded-lg shadow-2xl hover:shadow-4xl transform hover:scale-105 transition-transform duration-300" src="/massText.png" alt="office feature image">
    </div>
    <!-- Row -->
    <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
      <img class="mb-4 w-full lg:mb-0 lg:flex rounded-lg shadow-2xl hover:shadow-4xl transform hover:scale-105 transition-transform duration-300" src="/intranet.png" alt="office feature image">
      <div class="text-black">
        <h2 class="mb-4 text-3xl md:text-4xl tracking-tight font-extrabold gradient-text">Intranet</h2>
        <p class="mb-8 font-light text-lg lg:text-xl text-black">Constructed using a modern tech stack that includes Astro, Tailwind coupled with SCSS, React, and Next.js. The intranet offers seamless navigation and fast page loads through server-side rendering (SSR) powered by Node.js. It's fortified with Active Directory for organized data management, MS Azure 2-Factor authentication for enhanced security, and complies with the latest security parameters to ensure a safe user experience. Overall handling 500+ employees successfully.</p>
        <!-- List -->
        <ul role="list" class="pt-8 my-7 space-y-5 border-t border-gray-200 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>file_type_astro</title><path d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z" style="fill:#ff5d01;fill-rule:evenodd"/></svg>              <path d="M.906 0 2.5 17.683l7.5 2.159 7.544-2.158L19.092 0H.906ZM15.1 6H7.044l.174 2h7.776l-.632 6.513-4.29 1.371-4.326-1.444-.29-2.909H7.5l.163 1.4 2.424.809 2.37-.757.3-2.982H5.368L4.8 4h10.519L15.1 6Z"/>
            </svg>            <span class="text-xl md:text-lg font-medium leading-tight text-black">Astro Framework: Utilized for efficient and optimized web performance.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black"  width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>file_type_tailwind</title><path d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z" style="fill:#44a8b3"/></svg>
                        <span class="text-xl md:text-lg font-medium leading-tight text-black">Tailwind + SCSS: Ensured modern and responsive design with a combination of TailwindCSS and SCSS for styling flexibility.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 21">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M7.24 7.194a24.16 24.16 0 0 1 3.72-3.062m0 0c3.443-2.277 6.732-2.969 8.24-1.46 2.054 2.053.03 7.407-4.522 11.959-4.552 4.551-9.906 6.576-11.96 4.522C1.223 17.658 1.89 14.412 4.121 11m6.838-6.868c-3.443-2.277-6.732-2.969-8.24-1.46-2.054 2.053-.03 7.407 4.522 11.959m3.718-10.499a24.16 24.16 0 0 1 3.719 3.062M17.798 11c2.23 3.412 2.898 6.658 1.402 8.153-1.502 1.503-4.771.822-8.2-1.433m1-6.808a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
            </svg>            <span class="text-xl md:text-lg font-medium leading-tight text-black">React & Next.js: Implemented for a dynamic user interface and optimized routing, enhancing user experience.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.17157 19.8284C4.34315 21 6.22876 21 10 21H13.9292C13.6543 20.5272 13.5 19.9792 13.5 19.4118C13.5 18.5958 13.8191 17.8199 14.3571 17.25H13.5C13.0858 17.25 12.75 16.9142 12.75 16.5C12.75 16.0858 13.0858 15.75 13.5 15.75H15.4282C15.9395 14.4601 17.1549 13.5 18.6667 13.5C20.2273 13.5 21.4762 14.5283 21.955 15.8805L21.9694 15.8905C22 15.0727 22 14.1194 22 13V12.75H2V13C2 16.7712 2 18.6569 3.17157 19.8284ZM6 18.25C5.58579 18.25 5.25 17.9142 5.25 17.5L5.25 15.5C5.25 15.0858 5.58579 14.75 6 14.75C6.41421 14.75 6.75 15.0858 6.75 15.5V17.5C6.75 17.9142 6.41421 18.25 6 18.25ZM9 18.25C8.58579 18.25 8.25 17.9142 8.25 17.5V15.5C8.25 15.0858 8.58579 14.75 9 14.75C9.41421 14.75 9.75 15.0858 9.75 15.5V17.5C9.75 17.9142 9.41421 18.25 9 18.25Z" fill="#1C274C"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.17157 4.17157C2 5.34315 2 7.22876 2 11V11.25H22V11C22 7.22876 22 5.34315 20.8284 4.17157C19.6569 3 17.7712 3 14 3H10C6.22876 3 4.34315 3 3.17157 4.17157ZM9 9.25C8.58579 9.25 8.25 8.91421 8.25 8.5V6.5C8.25 6.08579 8.58579 5.75 9 5.75C9.41421 5.75 9.75 6.08579 9.75 6.5V8.5C9.75 8.91421 9.41421 9.25 9 9.25ZM5.25 8.5C5.25 8.91421 5.58579 9.25 6 9.25C6.41421 9.25 6.75 8.91421 6.75 8.5V6.5C6.75 6.08579 6.41421 5.75 6 5.75C5.58579 5.75 5.25 6.08579 5.25 6.5L5.25 8.5ZM12.75 7.5C12.75 7.08579 13.0858 6.75 13.5 6.75H18C18.4142 6.75 18.75 7.08579 18.75 7.5C18.75 7.91421 18.4142 8.25 18 8.25H13.5C13.0858 8.25 12.75 7.91421 12.75 7.5Z" fill="#1C274C"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6543 16.8806C20.543 15.8226 19.6956 15 18.6667 15C17.8216 15 17.0989 15.555 16.806 16.3395C16.7161 16.5804 16.6667 16.8429 16.6667 17.1176C16.6667 17.3763 16.7105 17.6242 16.7907 17.8533C16.6966 17.8338 16.5994 17.8235 16.5 17.8235C16.0601 17.8235 15.6644 18.024 15.3901 18.3434C15.1477 18.6255 15 19.0004 15 19.4118C15 20.2889 15.6716 21 16.5 21H20C21.1046 21 22 20.0519 22 18.8824C22 17.9554 21.4375 17.1676 20.6543 16.8806Z" fill="#1C274C"/>
              <path d="M20.6543 16.8806C20.543 15.8226 19.6956 15 18.6667 15C17.8216 15 17.0989 15.555 16.806 16.3395C16.7161 16.5804 16.6667 16.8429 16.6667 17.1176C16.6667 17.3763 16.7105 17.6242 16.7907 17.8533C16.6966 17.8338 16.5994 17.8235 16.5 17.8235C16.0601 17.8235 15.6644 18.024 15.3901 18.3434C15.1477 18.6255 15 19.0004 15 19.4118C15 20.2889 15.6716 21 16.5 21H20C21.1046 21 22 20.0519 22 18.8824C22 17.9554 21.4375 17.1676 20.6543 16.8806Z" fill="#1C274C"/>
              </svg>
                          <span class="text-xl md:text-lg font-medium leading-tight text-black">Server-Side Rendering (SSR) with Node.js: Boosted page load speeds and enhanced SEO capabilities.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
              <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
              <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
            </svg>            
            <span class="text-xl md:text-lg font-medium leading-tight text-black">Active Directory Integration: Allowed for structured data management and seamless user authentication.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <g fill="#0089D6">
              <path d="M7.47 12.412l3.348-.592.031-.007-1.722-2.049a291.474 291.474 0 01-1.723-2.058c0-.01 1.779-4.909 1.789-4.926a788.95 788.95 0 012.934 5.066l2.95 5.115.023.039-10.948-.001 3.317-.587zM.9 11.788c0-.003.811-1.412 1.803-3.131L4.507 5.53l2.102-1.764C7.765 2.797 8.714 2 8.717 2a.37.37 0 01-.033.085L6.4 6.981 4.16 11.789l-1.63.002c-.897.001-1.63 0-1.63-.003z"/>
              </g>
              </svg>        
          <span class="text-xl md:text-lg font-medium leading-tight text-black">MS Azure 2-Factor Authentication: Added an extra layer of security, ensuring secure user logins and protecting sensitive data.</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 21">
              <path d="M6.167 9.833a3 3 0 0 1 1.946-2.809L13 5.191a3 3 0 0 1 2.107 0l.893.334V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h8.641A14.03 14.03 0 0 1 6.167 9.833Z"/>
              <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Zm14.3 3.9-4.893-1.837a1.009 1.009 0 0 0-.7 0L8.815 8.9a1 1 0 0 0-.648.936 12.263 12.263 0 0 0 5.359 10.015 1 1 0 0 0 1.06 0 12.265 12.265 0 0 0 5.358-10.015A1 1 0 0 0 19.3 8.9Zm-5.236 8.866V9.068l3.866 1.45a10.241 10.241 0 0 1-3.871 7.245l.005.003Z"/>
            </svg>            <span class="text-xl md:text-lg font-medium leading-tight text-black">Compliance with HIPPA Security Parameters: Met high standards of web security to safeguard user information and interactions.</span>
          </li>
        </ul>
        <!-- {{# <p class="font-light lg:text-xl text-black">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.</p> #}} -->
      </div>
    </div>
    <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="text-black">
          <h2 class="mb-4 text-3xl md:text-4xl tracking-tight font-extrabold gradient-text">Trauma Recovery Associates (Revamp)</h2>
          <p class="mb-8 font-light text-lg lg:text-xl text-black">A revamped website enhancing user accessibility and interactivity, crafted using modern web technologies like PHP, Laravel, Statamic, Antlers, Svelte, and Tailwind CSS. Created to better support the Trauma Recovery community of Kalamazoo.</p>
          <!-- List -->
          <ul role="list" class="pt-8 my-7 space-y-5 border-t border-gray-200 dark:border-gray-700">
              <li class="flex space-x-3">
                  <!-- Icon -->
              <svg class="flex-shrink-0 w-5 h-5 text-black" width="800px" height="800px" viewBox="-4 0 264 264" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"><g><path d="M255.855641,59.619717 C255.950565,59.9710596 256,60.3333149 256,60.6972536 L256,117.265345 C256,118.743206 255.209409,120.108149 253.927418,120.843385 L206.448786,148.178786 L206.448786,202.359798 C206.448786,203.834322 205.665123,205.195421 204.386515,205.937838 L105.27893,262.990563 C105.05208,263.119455 104.804608,263.201946 104.557135,263.289593 C104.464333,263.320527 104.376687,263.377239 104.278729,263.403017 C103.585929,263.58546 102.857701,263.58546 102.164901,263.403017 C102.051476,263.372083 101.948363,263.310215 101.840093,263.26897 C101.613244,263.186479 101.376082,263.1143 101.159544,262.990563 L2.07258227,205.937838 C0.7913718,205.201819 0,203.837372 0,202.359798 L0,32.6555248 C0,32.2843161 0.0515567729,31.9234187 0.144358964,31.5728326 C0.175293028,31.454252 0.24747251,31.3459828 0.288717928,31.2274022 C0.366053087,31.0108638 0.438232569,30.7891697 0.55165747,30.5880982 C0.628992629,30.4540506 0.742417529,30.3457814 0.83521972,30.2220451 C0.953800298,30.0570635 1.06206952,29.8869261 1.20127281,29.7425672 C1.31985339,29.6239866 1.4745237,29.5363401 1.60857131,29.4332265 C1.75808595,29.3094903 1.89213356,29.1754427 2.06227091,29.0774848 L2.06742659,29.0774848 L51.6134853,0.551122364 C52.8901903,-0.183535768 54.4613221,-0.183535768 55.7380271,0.551122364 L105.284086,29.0774848 L105.294397,29.0774848 C105.459379,29.1805983 105.598582,29.3094903 105.748097,29.4280708 C105.882144,29.5311844 106.031659,29.6239866 106.15024,29.7374115 C106.294599,29.8869261 106.397712,30.0570635 106.521448,30.2220451 C106.609095,30.3457814 106.727676,30.4540506 106.799855,30.5880982 C106.918436,30.7943253 106.985459,31.0108638 107.06795,31.2274022 C107.109196,31.3459828 107.181375,31.454252 107.212309,31.5779883 C107.307234,31.9293308 107.355765,32.2915861 107.356668,32.6555248 L107.356668,138.651094 L148.643332,114.878266 L148.643332,60.6920979 C148.643332,60.3312005 148.694889,59.9651474 148.787691,59.619717 C148.823781,59.4959808 148.890804,59.3877116 148.93205,59.269131 C149.014541,59.0525925 149.08672,58.8308984 149.200145,58.629827 C149.27748,58.4957794 149.390905,58.3875102 149.478552,58.2637739 C149.602288,58.0987922 149.705401,57.9286549 149.84976,57.7842959 C149.968341,57.6657153 150.117856,57.5780688 150.251903,57.4749553 C150.406573,57.351219 150.540621,57.2171714 150.705603,57.1192136 L150.710758,57.1192136 L200.261973,28.5928511 C201.538395,27.8571345 203.110093,27.8571345 204.386515,28.5928511 L253.932573,57.1192136 C254.107866,57.2223271 254.241914,57.351219 254.396584,57.4697996 C254.525476,57.5729132 254.674991,57.6657153 254.793572,57.7791402 C254.93793,57.9286549 255.041044,58.0987922 255.16478,58.2637739 C255.257582,58.3875102 255.371007,58.4957794 255.443187,58.629827 C255.561767,58.8308984 255.628791,59.0525925 255.711282,59.269131 C255.757683,59.3877116 255.824707,59.4959808 255.855641,59.619717 Z M247.740605,114.878266 L247.740605,67.8378666 L230.402062,77.8192579 L206.448786,91.6106946 L206.448786,138.651094 L247.745761,114.878266 L247.740605,114.878266 Z M198.194546,199.97272 L198.194546,152.901386 L174.633101,166.357704 L107.351512,204.757188 L107.351512,252.27191 L198.194546,199.97272 Z M8.25939501,39.7961379 L8.25939501,199.97272 L99.0921175,252.266755 L99.0921175,204.762344 L51.6392637,177.906421 L51.6237967,177.89611 L51.603174,177.885798 C51.443348,177.792996 51.3093004,177.658949 51.1597857,177.545524 C51.0308938,177.44241 50.8813791,177.359919 50.7679542,177.246494 L50.7576429,177.231027 C50.6235953,177.102135 50.5307931,176.942309 50.4173682,176.79795 C50.3142546,176.658747 50.1905184,176.540167 50.1080276,176.395808 L50.1028719,176.380341 C50.0100697,176.22567 49.9533572,176.040066 49.8863334,175.864773 C49.8193096,175.710103 49.7316631,175.565744 49.6904177,175.400762 L49.6904177,175.395606 C49.6388609,175.19969 49.6285496,174.993463 49.6079269,174.792392 C49.5873041,174.637722 49.5460587,174.483051 49.5460587,174.328381 L49.5460587,174.31807 L49.5460587,63.5689658 L25.5979377,49.7723734 L8.25939501,39.8012935 L8.25939501,39.7961379 Z M53.6809119,8.89300821 L12.3994039,32.6555248 L53.6706006,56.4180414 L94.9469529,32.6503692 L53.6706006,8.89300821 L53.6809119,8.89300821 Z M75.1491521,157.19091 L99.0972731,143.404629 L99.0972731,39.7961379 L81.7587304,49.7775291 L57.8054537,63.5689658 L57.8054537,167.177457 L75.1491521,157.19091 Z M202.324244,36.934737 L161.047891,60.6972536 L202.324244,84.4597702 L243.59544,60.6920979 L202.324244,36.934737 Z M198.194546,91.6106946 L174.24127,77.8192579 L156.902727,67.8378666 L156.902727,114.878266 L180.850848,128.664547 L198.194546,138.651094 L198.194546,91.6106946 Z M103.216659,197.616575 L163.759778,163.052915 L194.023603,145.781396 L152.778185,122.034346 L105.289242,149.374903 L62.0073307,174.292291 L103.216659,197.616575 Z" fill="#FF2D20"></path></g></svg>                  <span class="text-xl md:text-xl font-medium leading-tight text-black">PHP & Laravel: Backend framework ensuring stability and security.</span>
              </li>
              <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg class="flex-shrink-0 w-5 h-5 text-black" fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.172 23.922c-0.042-0.286-0.026-0.953-0.026-0.953h-0.385c-0.885 0-1.229-0.354-1.229-1.24v-3.51c0-1.589-0.37-1.974-1.115-2.219v-0.083c0.745-0.245 1.115-0.646 1.115-2.234v-3.5c0-0.88 0.344-1.156 1.224-1.156h0.38c0 0 0.021-0.609 0.063-0.969-0.182-0.021-0.88-0.036-0.88-0.036-1.781 0-2.281 0.859-2.281 2.635v3.188c0 1.307-0.755 1.479-1.036 1.479v1.266c0.281 0 1.021 0.177 1.021 1.458v3.208c0 1.781 0.5 2.62 2.276 2.62 0 0 0.698 0.063 0.844 0.063zM3.089 16.786c0.651 0 1.583 0.224 1.583 1.865v4.083c0 2.266 0.542 3.401 2.807 3.401h1.021v-1.214h-0.521c-1.12 0-1.542-0.464-1.542-1.583v-4.479c0-2.021-0.635-2.516-1.755-2.828v-0.089c1.12-0.318 1.781-0.833 1.781-2.854v-4.469c0-1.115 0.417-1.453 1.536-1.453h0.521v-1.297h-1c-2.26 0-2.802 1.099-2.802 3.359v4.073c0 1.661-0.917 1.901-1.578 1.901v1.599zM18.406 21.984c0.62-0.177 1.141-0.427 1.568-0.755 0.427-0.323 0.76-0.729 1-1.203 0.234-0.474 0.354-0.995 0.354-1.578 0-0.505-0.089-0.938-0.26-1.297-0.177-0.365-0.464-0.677-0.849-0.953-0.391-0.271-0.891-0.521-1.49-0.734-0.604-0.214-1.333-0.427-2.193-0.635-0.917-0.234-1.552-0.443-1.911-0.62-0.359-0.188-0.542-0.484-0.542-0.896 0-0.474 0.188-0.823 0.568-1.031 0.37-0.219 0.833-0.318 1.385-0.318 0.594 0 1.193 0.078 1.786 0.276 0.594 0.182 1.229 0.5 1.901 0.922l1.26-1.901c-0.734-0.458-1.526-0.823-2.37-1.099-0.844-0.281-1.698-0.401-2.542-0.401-0.677 0-1.318 0.083-1.896 0.26-0.583 0.182-1.099 0.438-1.542 0.781-0.443 0.339-0.776 0.76-1.021 1.24-0.24 0.479-0.359 1.036-0.359 1.635 0 0.458 0.083 0.839 0.24 1.182 0.161 0.339 0.401 0.62 0.74 0.88 0.344 0.255 0.781 0.474 1.344 0.677 0.557 0.198 1.219 0.401 1.995 0.578 1.042 0.245 1.76 0.464 2.198 0.682 0.443 0.198 0.661 0.521 0.661 0.943 0 0.417-0.182 0.755-0.542 0.974s-0.875 0.339-1.516 0.339c-1.422 0-2.901-0.5-4.417-1.5l-1.302 2.161c0.359 0.24 0.76 0.458 1.219 0.661 0.464 0.198 0.938 0.359 1.438 0.5s1.021 0.24 1.563 0.318c0.536 0.078 1.036 0.099 1.521 0.099 0.755 0 1.438-0.099 2.057-0.276zM28.354 9.026c0.88 0 1.135 0.276 1.135 1.156v3.5c0 1.583 0.281 1.99 1.396 2.24v0.068c-1.115 0.245-1.396 0.635-1.396 2.219v3.521c0 0.88-0.255 1.24-1.135 1.24h-0.385c0 0-0.005 0.667-0.042 0.948 0.156 0 0.766-0.021 0.766-0.021 1.781 0 2.193-0.865 2.193-2.641v-3.198c0-1.286 0.745-1.458 1.115-1.458v-1.281c-0.37 0-1.115-0.177-1.115-1.474v-3.188c0-1.776-0.411-2.641-2.193-2.641 0 0-0.625 0.021-0.807 0.042 0.036 0.359 0.078 0.969 0.078 0.969zM27.26 22.734v-4.089c0-1.635 0.927-1.859 1.578-1.859v-1.615c-0.651 0-1.578-0.224-1.578-1.885v-4.063c0-2.26-0.359-3.359-2.625-3.359h-1.094v1.302h0.599c1.12 0 1.448 0.333 1.448 1.453v4.469c0 2.016 0.557 2.531 1.677 2.844v0.094c-1.12 0.313-1.661 0.802-1.661 2.823v4.484c0 1.125-0.318 1.589-1.438 1.589h-0.599v1.214h1.099c2.281 0 2.641-1.141 2.641-3.406h-0.047z"/>
                  </svg>
                                    <span class="text-xl md:text-xl font-medium leading-tight text-black">Statamic & Antlers: Content management made intuitive and efficient.</span>
              </li>
              <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg class="flex-shrink-0 w-5 h-5 text-black" width="800px" height="800px" viewBox="-26 0 308 308" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                    <g>
                        <path d="M239.681566,40.706757 C211.113272,-0.181889366 154.69089,-12.301439 113.894816,13.6910393 L42.2469062,59.3555354 C22.6760042,71.6680028 9.1958152,91.6538543 5.11196889,114.412133 C1.69420521,133.371174 4.6982178,152.928576 13.6483951,169.987905 C7.51549676,179.291145 3.33259428,189.7413 1.3524912,200.706787 C-2.77083771,223.902098 2.62286977,247.780539 16.3159596,266.951444 C44.8902975,307.843936 101.312954,319.958266 142.10271,293.967161 L213.75062,248.302665 C233.322905,235.991626 246.803553,216.005094 250.885557,193.246067 C254.302867,174.287249 251.30121,154.730228 242.355449,137.668922 C248.486748,128.365895 252.667894,117.916162 254.646134,106.951413 C258.772188,83.7560394 253.378243,59.8765465 239.682665,40.706757" fill="#FF3E00">
                
                </path>
                        <path d="M106.888658,270.841265 C83.7871855,276.848065 59.3915045,267.805346 45.7864111,248.192566 C37.5477583,236.66102 34.3023491,222.296573 36.7830958,208.343155 C37.1989333,206.075414 37.7711933,203.839165 38.4957755,201.650433 L39.845476,197.534835 L43.5173097,200.231763 C51.9971301,206.462491 61.4784803,211.199728 71.5527203,214.239302 L74.2164003,215.047419 L73.9710252,217.705878 C73.6455499,221.487851 74.6696022,225.262925 76.8616703,228.361972 C80.9560313,234.269749 88.3011363,236.995968 95.2584831,235.190159 C96.8160691,234.773852 98.3006859,234.121384 99.6606718,233.25546 L171.331634,187.582718 C174.877468,185.349963 177.321139,181.729229 178.065299,177.605596 C178.808171,173.400048 177.830501,169.072361 175.351884,165.594581 C171.255076,159.685578 163.908134,156.9582 156.947927,158.762547 C155.392392,159.178888 153.90975,159.83088 152.551509,160.695872 L125.202489,178.130144 C120.705281,180.989558 115.797437,183.144784 110.64897,184.521162 C87.547692,190.527609 63.1523949,181.484801 49.5475471,161.872188 C41.3085624,150.340895 38.0631179,135.976391 40.5442317,122.023052 C43.0002744,108.333716 51.1099574,96.3125326 62.8835328,88.9089537 L134.548175,43.2323647 C139.047294,40.3682559 143.958644,38.21032 149.111311,36.8336525 C172.21244,30.8273594 196.607527,39.8700206 210.212459,59.4823515 C218.451112,71.013898 221.696522,85.3783452 219.215775,99.3317627 C218.798144,101.59911 218.225915,103.835236 217.503095,106.024485 L216.153395,110.140083 L212.483484,107.447276 C204.004261,101.212984 194.522,96.4735732 184.44615,93.4336926 L181.78247,92.6253012 L182.027845,89.9668419 C182.350522,86.1852063 181.326723,82.4111645 179.1372,79.3110228 C175.042839,73.4032457 167.697734,70.677026 160.740387,72.4828355 C159.182801,72.8991426 157.698185,73.5516104 156.338199,74.4175344 L84.6672364,120.0922 C81.1218886,122.323199 78.6795938,125.943704 77.9387928,130.066574 C77.1913232,134.271925 78.1673502,138.601163 80.6469865,142.078963 C84.7438467,147.987899 92.0907405,150.71526 99.0509435,148.910997 C100.608143,148.493836 102.092543,147.841423 103.452857,146.976298 L130.798305,129.548621 C135.293566,126.685437 140.201191,124.528302 145.350175,123.152382 C168.451453,117.145935 192.846751,126.188743 206.451598,145.801356 C214.690583,157.332649 217.936027,171.697153 215.454914,185.650492 C212.997261,199.340539 204.888162,211.362752 193.115613,218.769811 L121.450695,264.442553 C116.951576,267.306662 112.040226,269.464598 106.887559,270.841265" fill="#FFFFFF">
                
                </path>
                    </g>
                </svg>                  <span class="text-xl md:text-xl font-medium leading-tight text-black">Svelte: Enhanced front-end interactivity for users.</span>
              </li>
              <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg class="flex-shrink-0 w-5 h-5 text-black"  width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>file_type_tailwind</title><path d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z" style="fill:#44a8b3"/></svg>
                  <span class="text-xl md:text-xl font-medium leading-tight text-black">Tailwind CSS: Modern and responsive design elements for a seamless user experience.</span>
              </li>
          </ul>
      </div>
      <img class="mb-4 w-full lg:mb-0 lg:flex rounded-lg shadow-2xl hover:shadow-4xl transform hover:scale-105 transition-transform duration-300" src="/tra.png" alt="office feature image">
    </div>
  

  </div>
</section>
<style>
	.hero {
			background-color: transparent;
			/* Set the background to transparent */
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			overflow: hidden;
			position: relative;
	}
  .pirata-font {
    font-family: "Pirata One", sans-serif;
  }
</style> 
