---
interface Props {
  title: string;
}
import { ViewTransitions } from 'astro:transitions';

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Joshua P. Conley</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" title="Joshua Conley Portfolio" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>Joshua P. Conley</title>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" href="/global.css" />
    <ViewTransitions />

  </head>
  <body class="bg-base">
    <ViewTransitions transition="morph" />

    <slot />
  </body>
</html>
<script></script>
<style>
  .particle-wrapper {
    will-change: opacity, transform;
    opacity: 0.56405;
    transform: translate3d(0px, 0px, 0px) scale3d(2.15393, 2.15393, 1)
      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #000000);
    z-index: -1;
  }

  .particle-wrapper div {
    will-change: transform;
    transform-style: preserve-3d;
  }

  .hero {
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }

  /* Create a black opacity overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Adjust opacity here (0.5 = 50% opacity) */
    z-index: 1;
  }

  .text-secondary {
    background: linear-gradient(to right, #000000, #757575);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
  }

  .text-underline {
    text-decoration: underline;
  }

  .pirata-font {
    font-family: "DM Sans", sans-serif;
    border-right: 0.15em solid lime; 
  white-space: nowrap;
  color: lime;           
  font-family: 'Courier New', monospace; 
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
  }

</style>
